body {
  padding-top: 50px;
      font-family: Palatino Linotype;
      font-size: 16px;
      background: url(../img/white-linen-paper-texture.jpg) no-repeat top center;
      background-repeat: repeat-y;
}

.navbar {
   background: rgba(255, 255, 255, 0.5);
   border-color: transparent;
}

.navbar li {
    color: #000
}

.contact {
    padding-top: 25px;
}


div#about {
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
    border-color: transparent;
    text-align: center;
    padding:20px;
}

div#projects{
    background: rgba(255, 255, 255, 0.5);
    color:#93b719;
    border-color: transparent;
    text-align: center;
    padding:20px;
}

div#projects-title{
    background: rgba(255, 255, 255, 0.5);
    color:#93b719;
    border-color: transparent;
    text-align: center;
    padding:20px;
}

div#awards-title{
    background: rgba(147, 183, 25, 0.5);
    color:#fff;
    border-color: transparent;
    text-align: center;
    padding:20px;
}

div#awards{
    background: rgba(147, 183, 25, 0.5);
    color:#fff;
    border-color: transparent;
    text-align: center;
    padding:20px;
}

div#resume-title {
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
    border-color: transparent;
    text-align: center;
    padding:20px;
}

div#accordian{
    background: rgba(0, 0, 0, 0.5);
    border-color: transparent;
    padding:20px;
}

.accordian{
    list-style: none;
}

.accordian li{
    padding-left: 10px;
}

div#contact-title {
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
    border-color: transparent;
    text-align: center;
    padding:20px;
}

div#contact {
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
    border-color: transparent;
    text-align: center;
    padding-bottom: 20px;
}

div#contact img{
    padding: 20px;
}

footer {
    padding: 20px 0 15px 0;
    background: rgba(255, 255, 255, 0.4);
}

footer li{
    float: left;
    padding: 0 10px 0 10px;
    list-style: none;
}

footer p{
    float: right;
}

footer a{
    color: #000;
}
